.backgroundcolorNav{
    background-color: azure;
    color: white;
}

.textxnav {
    color:black !important;
    font-size: 20px
}
.textxnave {
    color:azure !important;
   
}

.nav-item {
    padding: 10px 20px;
}

.nav-item1 {
 padding: 0px 10px;
}
.divlogo{
    padding-right: 100px;
}

.heightfull {
    height: 100vh;
}

.navbar {
   position:initial;
    width:  100%;
}
.sectionone { 
    
    background-color:lightblue
}

.titleselectionone {
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 34px;
}

.titleselectionone1{
    color: black;
    font-size: 50px;
    padding-right: 20px;

}
.subtitleone {
    color: black;
    font-size: 30px;
    margin-bottom: 34px;
}
.divcontentsectionone {
    padding: 20px ;
    padding-left: 80px;
    padding-top: 120px;
}

.conteiner-foto{
   
    padding-left: 12pc;
 }

 .d-flex{
     padding-top: 50px;
     padding-left: 100px;
 }

.btnsectiononecontact{
    
    border: none;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;    
}

.btnsectiononecontact rover {
    
    border: none;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
}

.btnsectiononecontact focus {
    
    border: none;
    padding: 17px 25px;
    font-size: 20px;
    font-weight: 600;
}
.promoçoes1 {
    padding-left: 35pc;


}

.selectitwo {
    padding-top: 535.06px;
    padding: 10px 50px;
    background-color:lightblue
}

